* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: black;
} 

/* side-bar section*/

.side-bar {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 999999;
    background-color: black;
}

.sidebar-container {
    position: absolute;
    width: 250px;
    left: 0;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 999999;
    background-color: black;
}

.side-light {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    left: 250px !important;
    top: 0 !important;
    bottom: 0 !important;
    background-color: white;
}

.sidebar-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 30px;
    left: 20px;
}

.side-bottom {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.side-bottom a {
    padding-left: 20px;
    cursor: pointer;
}

.side-bottom span {
    color: #999;
}

.sidebar-top a {
    font-size: 16px;
    color: #fff;
    padding: 15px !important;
    text-decoration: none;
}
#iconBtn {
    cursor: pointer;
} 

/* side-bar section*/
