* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: black;
}

/* side-bar section*/

.side-bar {
    position: fixed;
    width: 250px;
    left: 0;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 999999;
    background-color: black;
}

.sidebar-container {
    position: absolute;
    width: 250px;
    left: 0;
    top: 0 !important;
    bottom: 0 !important;
    z-index: 999999;
    background-color: black;
}

.side-light {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    left: 250px !important;
    top: 0 !important;
    bottom: 0 !important;
    background-color: white;
}

.sidebar-top {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 20px;
    /* background-color: tomato; */
    height: 80%;
    width: 80%;
}

.side-bottom {
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.side-bottom a {
    padding-left: 20px;
    cursor: pointer;
}

.side-bottom span {
    color: #999;
}

.sidebar-top a {
    font-size: 16px;
    color: #fff;
    padding-top: 20px !important;
    padding-left: 15px !important;
    text-decoration: none;
}

#iconBtn {
    cursor: pointer;
}

.side-title1,
.side-title2,
.side-title3,
.side-title4,
.side-title5,
.side-title6 {
    padding-top: 20px;
}

/* side-bar section*/
/* home page */

.meal {
    width: 250px;
    height: 250px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-photo img {
    width: 100%;
}

.my-img {
    position: relative !important;
    margin-left: auto !important;
    border-radius: 5px !important;
    width: 100% !important;
    text-align: center !important;
}

.img-caption {
    background-color: rgba(255, 255, 255, .7) !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 100% !important;
    display: flex;
    align-items: center;
    font-size: 26px;
    color: #000;
    transition-duration: 1s !important;
    padding-left: 10px;
}

.img-caption i {
    color: #eee;
}

.img-caption i:hover {
    color: #ff305b !important;
}

.over-flow {
    position: relative !important;
    overflow: hidden !important;
}

.over-flow:hover .img-caption {
    overflow: visible !important;
    top: 0 !important;
}

/* home page */

/* contact page */
.contact-headding {
    color: #f8f9fa !important;
    font-weight: 200 !important;
}

.contact-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    border-radius: 0;
    color: #495057;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 0 .5rem 1rem rgba(255, 255, 255, .2) !important;
}

.contact-input:focus {
    background-color: transparent !important;
    color: #495057;
    border-bottom-color: rgba(255, 255, 255, .7);
}

/* contact page */

/* search page */
.box-none {
    box-shadow: none !important;
}

/* search page */

/* categories page */

.categories-img-caption {
    background-color: rgba(255, 255, 255, .7) !important;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
    color: #000;
    transition-duration: 1s !important;
    padding-left: 10px;
}

.over-flow:hover .categories-img-caption {
    overflow: visible !important;
    top: 0 !important;
}

.categories-img-caption p {
    font-size: 13px;
    padding: 0 5px;
    font-weight: 600;
}


/* categories page */

/* Ingredients page */
.card {
    background-color: transparent !important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
    padding: 0 30px;
}

.card .card-body h2 {
    font-weight: 300 !important;
}

.fa-bowl-food {
    color: #9ee650ab;
}

.ingredients-row {
    margin-top: 150px;
}

/* Ingredients page */